[Unit]
Description=making service inotif up
After=network.target 

[Service]
ExecStart = /opt/auto_shutdown/auto_shutdown.sh

[Install]
WantedBy=multi-user.target
